@charset "utf-8";

/* 共通設定 */
body {
  font-family: "メイリオ", "sans-serif";
  font-size: 80%;
  line-height: 1.6;
  -webkit-text-size-adjust: 100%;
}

body,p,h1,h2,h3,h4 {
  margin: 0;
  padding: 0;
}

h1 {
  text-decoration: underline solid 1px;
  text-underline-offset: 5px;
}

h1,h2 {
  font-size: 160%;
}

h3,h4 {
  font-size: 100%;
}

.works h1,.works h2,.profile h1 {
  text-align: center;
}

th,strong,em {
  font-weight: normal;
  font-style: normal;
}

a {
  display: inline-block;
  text-align: center;
  text-underline-offset: 5px;
}

.wrapper {
  width: 90%;
  margin: 0 auto;
}

.works header, .profile header{
  font-size: 0;
  padding: 20px;
}

footer {
  text-align: center;
}


/* トップページ設定 */
.top-img {
  background-image: url(img/top.JPG);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: left bottom;
  width: 100%;
  min-height: 500px;
}

.index nav {
  display: flex;
  justify-content: center;
}

.index a {
  font-size: 120%;
  margin: 40px 30px;
}

.index h1,.index h2 {
  color: #fff;
  padding: 15px 20px 0;
}

.index a:link, .index a:visited{
  color: #000;
}

/* 作品ページ設定 */
.works h2 {
  margin: 30px 0;
}

.works-nav {
  display: flex;
  margin: 20px auto 30px;
  justify-content: center;
}
.sasa-gifu a:link, .sasa-gifu a:visited,.website a:link,.website a:visited{
  color: #000;
}

.works-nav a:link,.works-nav a:visited,#logo .description a:link,#logo .description a:visited,#banner a:link, #banner a:visited{
  color: #fff;
}

.works-nav p {
  font-weight: bold;
  display: flex;
  width: 60px;
  margin: 20px;
  padding: 10px;
  justify-content: center;
}

.web-nav {
  background-color: rgba(141, 194, 210, 0.8);
}

.logo-nav,
#logo .description {
  background-color: rgba(56, 80, 100, 0.8);
}

.ban-nav,
#banner .description {
  background-color: rgba(133, 166, 201);
}

.works-img {
  text-align: center;
  margin: 0 auto;
}

/* スライドショーの設定 */
#container{
  width: 250px;
  height: 250px;
  margin: 0 auto 60px;
  background: #fff;
 }

#slideshow{
  position: relative; /* 画像の位置を基準にする*/
  width: 250px;/* boxサイズのwとhを画像と同じサイズに設定*/ 
  height: 250px;
 }

 #slideshow img{
  position: absolute;
  /* 親要素のボックスの位置と左上にぴったり合わせる*/
  top:0;
  left: 0;
  z-index: 0; /* 順番じゃない画像は一番下*/
  opacity: 0.0; /* 順番じゃない画像は透明にする（JavaScriptで徐々に透明度を下げて表示させる）*/
}

 /*最初に表示される画像*/
 #slideshow img.active{
  z-index: 2; /* 画像を一番手前に設定*/
  opacity: 1.0; /* 完全に不透明で表示*/
 }
 
 #slideshow img.last-active{
  z-index: 1;
 } 

/* ウェブサイトセクション設定 */
 .website {
  margin: 40px auto 60px;
  justify-content: center;
  vertical-align: middle;
}

.description {
  margin: 30px auto;
  text-align: left;
  width: 320px;
  height: 350px;
}

.description table{
  margin-bottom: 20px;
}

.description a,
#yunpe {
  margin-top: 10px;
  padding: 10px;
}

#eau {
  background-color: #94CCD4;
}

#yunpe {
  background-color: #C4AE8D;
}

/* ロゴセクション設定 */
.sasa-gifu {
  width: 300px;
  margin: 0 auto 40px;
  text-align: center;
}

#logo .description,
#banner .description {
  color: #fff;
  width: 330px;
  height: 250px;
  padding: 10px;
  margin: 0 auto;
}

#logo .description a,
#banner .description a {
  padding: 10px 0;
}

.works-section {
  text-align: center;
}

#logo .works-section {
  width: 350px;
  margin: 20px auto 80px;
}

#logo .comment,
#banner .comment {
  text-align: left;
  margin-bottom: 60px;
}

/* バナーセクション設定 */
#banner .comment {
  width: 300px;
  margin: 30px auto 50px;
}

#banner img{
  margin-top: 50px;
  width: 300px;
}

/* プロフィールページ設定 */
.profile article {
  text-align: center;
}

#profile-1 {
  background-color: rgb(203, 240, 226, 0.5);
}

#profile-1 .skill{
  margin-top: 30px;
}

#profile-2 {
  background-color: rgb(203, 222, 240, 0.5);
}

#profile-1 p, #profile-2 p {
  line-height: 2;
}

#profile-3 {
  background-color: rgba(56, 80, 100, 0.8);
  color: #fff;
}

#profile-3 p{
  margin:20px 0 0;
}

#profile-3 ul{
  margin: 10px 0 30px;
}

.profile h4 {
  color: #000;
}

.profile .description {
  width: 310px;
  height: 310px;
  padding: 20px;
}

.profile table{
  margin-bottom: 10px;
}

.profile h2,
.profile h3,
.profile h4 {
  font-size: 110%;
  background-color: #fff;
  width: 75px;
  height: 20px;
  padding: 5px;
  margin-bottom: 10px;
}

.attention {
  font-size: 80%;
}

/* サイドメニュー */
#open_nav{
  text-align: right;
  margin: 10px 0;
  position:fixed;
  right: 0;
  top: 0;
}

#nav{
  display:none;
  width: 50px;
  position: fixed;
  right: 0;
  top: 50px;
  transition: transform 0.3s;
}

.site-menu-content{
  font-weight: bold;
  font-size: 90%;
  list-style-type: none;
  text-align: left;
  padding: 10px;
  background-color: #4A5154;
}

.site-menu-content li{
  margin: 15px 0;
}

.site-menu-content a:link, .site-menu-content a:visited{
  color: #fff;
  text-decoration: none;
}

.top-btn{
  position: fixed;
  right: 20px;
  bottom: 20px;
}

/*-------------- レスポンシブ対応 --------------*/

/* トップページ */
@media screen and (min-width:690px){
  .top-img{
      width: 739px;
      height: 554px;
      margin: 0 auto;
  }
}

/* 作品ページ　＆　プロフィールページ */
@media screen and (min-width:1024px) {
  .website, .banner .works-section{
    display: flex;
    align-items: center;
    margin-bottom: 100px;
  }

  .description {
    margin-left: 30px;
  }

  .website{
    max-width: 700px;
  }

  .banner-des{
    display: inline-block;
    margin: 20px 60px;
  }

  .profile-box{
    display: flex;
    justify-content: center;
  }

  .profile-box section{
    display:inline-block;
    margin: 30px;
  }

  .profile-box img{
    margin: 30px;
  }
}